
#container{
	cursor: url(img/tribe.png), pointer;
	position: absolute;
	top:50px;
	left: 500px;
	width: 300px;
	height: 500px;
	border: 1px solid #b07e1d;
}

#box{
	position: absolute;
}
#box2{
	position: absolute;
}
#box3{
	position: absolute;
}
#box4{
	position: absolute;
}
#rulesCont{
	position: absolute;
	left: 900px;
	top: 50px;
	width: 300px;
	height: 200px;
	border: 1px solid #b07e1d;
	background-color: #f1be59;
	visibility: hidden;
}
#ruleTitle{
	position: absolute;
	left: 50px;
	top: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-shadow: 4px -1px white;
}
#rules{
	position: absolute;
	left: 10px;
	top: 100px;
	font-family: 'Courier New', Courier, monospace;
}
#click{
	position: absolute;
	left:550px;
	top:200px;
	width:220px;
	height:90px;
	font-size: 35px;
	font-family: 'Courier New', Courier, monospace;
	color: black;
	background-color: #ffe5b4;
	border-color: #b07e1d; 
	text-shadow: 3px -1px #f1be59;
}
#cover{
	opacity:0.8;
	position: absolute;
	left: 501px;
	top:51px;
}

#gameOver{
	position: absolute;
	left:500px;
	top:100px;
	font-family:Verdana, Geneva, Tahoma, sans-serif ;
	font-size: 50px;
	color:black;
}
#gameOver2{
	position: absolute;
	left:540px;
	top:200px;
	font-family:Verdana, Geneva, Tahoma, sans-serif ;
	font-size: 20px;
	color:black;
}
#mouse1{
	position:absolute;
	width:70px;
	height: 70px;
	background-color: red;
}
#customPointer{
	position: absolute;
}
#wew{
	position: absolute;
	left:0px;
	top: 0px;
	width: 70px;
	height:65px;
	background-color: #e6b24c;
}
#otherScore{
	position: absolute;
	left:70px;
	top:140px;
	font-family:Verdana, Geneva, Tahoma, sans-serif ;
	font-size: 60px;
	color:black;
}
}
